@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

im html,
body {
    padding: 0;
    margin: 0;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1280px;
    box-sizing: border-box;
}

.header {
    width: 100vw;
    height: 100px;
    background: #093545;
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    font-family: Lexend Deca;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #fff;
    margin-left: 206px;
    margin-right: 250px;
}

.head__items {
    color: #fff;
    width: 45px;
    height: 24px;

}

.header__item {
    width: 43px;
    height: 22px;
    top: 15px;
    font-family: Lexend Deca;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-align: right;
    color: #fff;
    margin-left: 300px;
}

.header__btn {
    width: Hug (220px);
    height: Hug (52px);
    left: 88px;
    padding: 15px 35px 15px 25px;
    gap: 15px;
    border-radius: 5px;
    background: rgba(35, 166, 240, 1);
    border: none;
    background-image: url(./arrow.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
    color: #fff;
    font-family: Lexend Deca;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    margin-left: 30px;
}

.hero {
    width: 100vw;
    height: 100vh;
    background: #093545;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    background-image: url(back.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100%;
}

.title {
    font-family: Lexend Deca;
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 39px;
}

.subTitle {
    font-family: Lexend Deca;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 36px;
}

.inp {
    width: 300px;
    height: 45px;
    top: 332px;
    left: 490px;
    border-radius: 10px;
    border: none;
    background: rgba(34, 73, 87, 1);
    font-family: Lexend Deca;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: white;
}

.btn {
    width: 300px;
    height: 45px;
    top: 518px;
    left: 490px;
    border-radius: 10px;
    background: rgba(32, 223, 127, 1);
    border: none;
    color: white;
    cursor: pointer;
    font-family: Lexend Deca;
    font-size: 19px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.inp-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.bottom {
    display: flex;
    align-items: center;
    text-align: center;

    .bottom__title {
        font-family: Lexend Deca;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: center;
        margin-left: 12px;
        color: #FFFFFF;
        gap: 7px;
    }

    .forgot {
        font-family: Lexend Deca;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: center;
        color: rgba(32, 223, 127, 1);
        margin-left: 32px;
        cursor: pointer;
    }

    .css-checkbox {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }

    #inputPreview {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .css-checkbox+label {
        position: relative;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
    }

    .css-checkbox+label::before {
        content: " ";
        display: inline-block;
        vertical-align: middle;
        margin-right: 3px;
        width: 20px;
        height: 20px;
        background-color: rgba(34, 73, 87, 1);
        border-width: 1px;
        border-style: solid;
        border-color: rgba(34, 73, 87, 1);
        border-radius: 5px;
        box-shadow: none;
    }

    .css-checkbox:checked+label::after {
        content: " ";
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
        background-repeat: no-repeat;
        background-size: 12px 12px;
        background-position: center center;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        left: 0px;
        top: 0px;
        text-align: center;
        background-color: transparent;
        font-size: 10px;
        height: 22px;
        width: 22px;
    }
}

input[placeholder],
[placeholder],
*[placeholder] {
    font-family: Lexend Deca !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    letter-spacing: 0px !important;
    text-align: center !important;
    color: rgba(255, 255, 255, 1);
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  rgba(255, 255, 255, 1);
    text-align: start;
    padding-left: 17px;
}